In [2]:
import pandas as pd
import numpy as np

In [3]:
#series

In [4]:
myDict = {"James": 50, "Lars": 60, "Kirk": 55, "Rob": 65}

In [5]:
pd.Series(myDict)

James    50
Lars     60
Kirk     55
Rob      65
dtype: int64

In [6]:
ageList = [50, 60, 55, 65]
nameList = ["James", "Lars", "Kirk", "Rob"]

In [9]:
pd.Series(ageList, nameList)

James    50
Lars     60
Kirk     55
Rob      65
dtype: int64

In [10]:
pd.Series(data=ageList, index=nameList)

James    50
Lars     60
Kirk     55
Rob      65
dtype: int64

In [11]:
numpyArray = np.arange(0,8)

In [12]:
numpyArray

array([0, 1, 2, 3, 4, 5, 6, 7])

In [13]:
pd.Series(numpyArray)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
dtype: int32

In [14]:
newNumpyArray = np.array([10,20,30,40])

In [15]:
pd.Series(newNumpyArray)

0    10
1    20
2    30
3    40
dtype: int32

In [16]:
pd.Series(data=newNumpyArray, index=nameList) #numpy array ve list veri tiplerini verdik.

James    10
Lars     20
Kirk     30
Rob      40
dtype: int32

In [17]:
mySeries = pd.Series(data=newNumpyArray, index=nameList)

In [18]:
mySeries

James    10
Lars     20
Kirk     30
Rob      40
dtype: int32

In [19]:
type(mySeries)

pandas.core.series.Series

In [20]:
mySeries["Kirk"]

30

In [21]:
mySeries["Kirk"] = 60

In [22]:
mySeries

James    10
Lars     20
Kirk     60
Rob      40
dtype: int32

In [29]:
quizResults1 = pd.Series(data=[70,50,90], index=["A", "B", "C"])

In [30]:
quizResults2 = pd.Series(data=[100,70,60], index=["A", "B", "C"])

In [31]:
quizResults1 + quizResults2

A    170
B    120
C    150
dtype: int64